.menuLeftContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    width: 300px !important;
}
.header{
    width: 100%;
    height: 120px;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.rowExitView{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    height: 30%;
    min-height: 30px;
    span{
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}

.rowExitView2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 10%;
    min-height: 20px;
    span{
        color: white;
        font-size: 22px;
        cursor: pointer;
    }
}

.headerBody{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50px;
    height: 50px;
}
.logo2{
    width: 90px;
    height: 90px;
}

.collumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    padding-left: 10px;
    height: 100%;
}

.nameUser{
    color: white;
    font-size: 22px;  
    text-overflow: ellipsis;
    display: -webkit-box;
    max-width: 98%;
    -webkit-line-clamp: 2; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    -webkit-box-orient: vertical;


}

.collumn2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    min-height: 50px;
    height: 20%;
}

.nameUser::after {
    content: "...";
    position: absolute;
    right: -12px; 
    bottom: 4px;
  }

.emailUser{
    color: white;
    font-size: 14px;
    max-width: 98%;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden !important;
}


.emailUser::after {
    content: "...";
    position: absolute;
    right: -12px; 
    bottom: 4px;
}

.textmenu{
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.textmenu:hover{
    color: #707070;
}
.headerMobile{
    display: none;
    width: 100vw;
    min-height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-height: 70px;
    background-image: url('../../assets/bg.png');
    background-size: cover;
}

.menu{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }

@media only screen and (max-width: 799px) {
    .menuLeftContainer{
        display: none;
    }
    .headerMobile{
        display: flex;
        
    }
    .container{
        flex-direction: column;
    }
    .rowExitView{
        width: 40%;
    }
}

